<div id="ajaxContentHolder">fuck</div>
<script>
// Create the Spinner with options
var spinner = new Spinner({
lines: 11, // The number of lines to draw
length: 7, // The length of each line
width: 3, // The line thickness
radius: 7, // The radius of the inner circle
color: '#000', // #rbg or #rrggbb
speed: 1, // Rounds per second
trail: 50, // Afterglow percentage
shadow: false // Whether to render a shadow
}).spin(document.getElementById("ajaxContentHolder")); // Place in DOM node called "ajaxContentHolder"
</script>