<% if q == 'string' %>
    <p><%= builder.text_area :response %></p>
<% elsif q == 'integer' %>
    <p><%= builder.text_field :response %></p>
<% elsif q == 'date' %>
    <%= builder.date_select(:response,:start_year => Time.now.year,:end_year => Time.now.year - 1) %>
<% end %>