<% if q == 'string' %>
    <p><%= builder.text_area :response %></p>
<% elsif q == 'integer' %>
    <p><%= builder.text_field :response %></p>
<% elsif q == 'date' %>
    <p><%= builder.text_field(:response,:class=>'input-mask-date',:placeholder=>'dd-mm-yyyy') %></p>
<% end %>